body {
  padding: 0;
  margin: 0;
  color: black;
  background-color: #bddafb;
  background: linear-gradient(#bddafb, white);
  font-family: Arial, Helvetica, Sans-Serif;
  font-style: normal;
  font-weight: normal;
  text-align: center;
}

#container {
  position: absolute;
  left: 10em;
  top: 5em;
  background: silver;
  border: 1px dashed gray;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.muted {
  color: #999999;
}

.text-warning {
  color: #c09853;
}

.text-error {
  color: #b94a48;
}

.text-info {
  color: #3a87ad;
}

.text-success {
  color: #468847;
}

.success {
  background-color: #dff0d8;
}

.error {
  background-color: #f2dede;
}

.warning {
  background-color: #fcf8e3;
}

.info {
  background-color: #d9edf7;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}
